.footer {
  background-color: #f8f9fa;
}

.footer h2 {
  font-size: 1.2rem;
  color: #222;
}

.footer-link {
  text-decoration: none;
  color: #555;
  transition: color 0.3s ease;
}

.footer-link:hover {
  color: #000;
}

.footer .social-icons ion-icon {
  font-size: 1.4rem;
  transition: transform 0.3s ease;
}

.footer .social-icons ion-icon:hover {
  transform: scale(1.2);
}
